<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="gen3_lite_gazebo" params="parent prefix use_camera">

        <gazebo reference="${prefix}base_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <gazebo reference="${prefix}shoulder_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <gazebo reference="${prefix}arm_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <gazebo reference="${prefix}forearm_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <gazebo reference="${prefix}lower_wrist_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <gazebo reference="${prefix}upper_wrist_link">
            <material>Kortex/Gray</material>
        </gazebo>

        <xacro:if value="${use_camera}">
            <gazebo reference="${prefix}camera_1_link">
                <sensor name="${prefix}camera_1" type="rgbd_camera">
                    <camera>
                        <horizontal_fov>1.5184</horizontal_fov>
                        <image>
                            <width>640</width>
                            <height>480</height>
                        </image>
                        <clip>
                            <near>0.05</near>
                            <far>1.5</far>
                        </clip>
                    </camera>
                    <always_on>1</always_on>
                    <gz_frame_id>${prefix}camera_1_link</gz_frame_id>
                    <topic>${prefix}camera_1</topic>
                    <update_rate>5</update_rate>
                    <visualize>true</visualize>
                </sensor>
            </gazebo>
        </xacro:if>

        <!-- ROS2 CONTROL -->
        <!-- condition to avoid conflicts when launching the arm as an accessory. -->
        <xacro:if value="${parent == 'world'}">
            <gazebo>
                <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <parameters>$(find arms_bringup)/config/ros2_control.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>